@media(max-width:580px){
#display{
    display: block;
}
.form-img{
    display: none;
}
#display form input{
    width: 250px;
    padding: 10px;
    padding-left: 10px;
}
.form-type h1{
    text-align: center;
    text-decoration: underline;
    /* margin-bottom: 40px; */
    /* padding-top: 20px; */
}
.btn{
    margin: 5px;
    /* display: flex; */
    background: gold;
}
.form-type label{
    padding-bottom: 5px;
    padding-left: 10px;
}
.form-type{
    background: steelblue center center/cover;
    color: gold;
    /* height: 825px; */
    padding: 10px;
}
}
@media(max-width:768px){
    .form-type{
        background: steelblue center center/cover;
        color: gold;
        /* height: 1100px; */
        padding: 10px;
    }
    .form-type h1{
        padding-top: 50px;
    }
    .btn{
        background: gold;
    }
}